{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index,follow"/>
        <meta name="theme-color" content="#ffffff"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Security-Policy" content="">
        <meta name="description" content="" />
        <meta name="fragment" content="!" />
        <title>Dashboard | Default</title>
        <script type="text/javascript" src="{% static 'assets/js/jquery-3.6.0.js' %}"></script>
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome, {{ request.user.firstname  }}!</h1>
            <p>Thank you for logging in.</p>
            <button type="button" class="btn btn-danger logout">Logout user</button> 
        </div>
        <script src="{% static 'assets/js/Authbootstrap.js'%}"></script>
    </body>
</html>